body, #root{
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    overflow: auto;
}

@keyframes animate{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

#pagina{
    overflow: hidden;
}

.formulario-signin{
    width: calc(10rem + 23vw);
    height: calc(20rem + 28vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1414146E;
    border-radius: calc(20px + 2vw);
    padding: calc(5px + 1vw);
    backdrop-filter: blur;
    animation: fadeInUp;
    animation-duration: 0.6s;
}

#campos-signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

#Titulo-signin{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1rem + 4vw);
    color: #FFFFFF;
}

#campos-inserir-signin{
    width: 90%;
    height: 15%;
    border-radius: calc(5px + 1vw);
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(28, 26, 26, 0.26);
    color: #D9D9D9;
    font-size: calc(0.5rem + 1vw);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
}

#campos-inserir-signin::placeholder{
    color: #aaaaaa;
}

.links-signin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}

#Acessar-signin{
    width: calc(4rem + 4vw);
    height: calc(2rem + 2vh);
    background-color: rgba(28, 26, 26, 0.26);
    border-radius: calc(2px + 1vw);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #D9D9D9;
    font-size: calc(0.35rem + 1vw);
}

#Criar-conta-signin{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #D9D9D9;
    font-size: calc(0.5rem + 1vw);
    text-decoration: underline;
}

/* a partir de 500 px*/

@media screen and (max-width: 500px){
    #Criar-conta-signin{
        font-size: calc(0.65rem + 1.5vw);
    }

    #Acessar-signin{
        width: calc(4rem + 8vw);
        height: calc(2rem + 2vh);
        border-radius: calc(5px + 2.5vw);
        font-size: calc(0.65rem + 1.5vw);
    }
    .links-signin{
        width: 90%;
    }
    #campos-inserir-signin{
        width: 90%;
        height: 20%;
        border-radius: calc(5px + 3.5vw);
        padding-left: 15px;
        padding-right: 15px;
        font-size: calc(0.65rem + 2vw);
    }
    .formulario-signin{
        width: calc(10rem + 35vw);
        height: calc(20rem + 18vh);
        border-radius: calc(20px + 2vw);
        padding: calc(5px + 1vw);
    }
    
    #Titulo-signin{
        font-size: calc(1rem + 10vw);
    }
}