@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

html, body, #root{
  height: 100vh;
}

#pagina{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1980px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

body{
  font: 14px 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
 cursor: pointer;
 border: none; 
}

input{
  border: none;
}